# 작업형1 모의문제1
- data : members.csv
- 한 개의 셀만 사용해서 문제를 풀어주세요

## 문제1
- f1컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고,
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀 값을 구하시오
- (단, 데이터 70% 지점은 정수형(int) 변환)

In [ ]:
# your code
# import pandas as pd
# import numpy as np
mdf = pd.read_csv("members.csv")

# 결측치가 얼마나 있는지 확인하면서 체크하자
# print(df.isnull().sum())

# 사이즈 확인 -> shape으로 체크하기

mdf['f1'] = mdf['f1'].fillna(mdf['f1'].median())
mdf = mdf.dropna(axis=0)
mdf = mdf[:int(len(mdf) * 0.7)]

print(mdf['views'].quantile(.75) - mdf['views'].quantile(.25))

3261.0

## 문제2
- 주어진 데이터에서 결측치가 30%이상 되는 컬럼을 찾고 해당 컬럼에 결측치가 있는 데이터(행)를 삭제 함.
- 그리고 30% 미만, 20% 이상인 결측치가 있는 컬럼은 최빈값으로 값을 대체하고
- 'f3'컬럼의 'gold' 값을 가진 데이터 수를 출력하세요!

In [ ]:
# your code

mdf = pd.read_csv("members.csv")

# 결측치가 얼마나 되는지 우선 확인 -> 결측치가 30%이상인지?
# print(mdf.isnull().sum())
# 30%되는 지점 찾기 -> 30이 나옴
# print(len(mdf)*0.3)
# 여기서는 f1이 30%이상되는 지점, 30%미만 20%이상은 f3칼럼

# f1에서 결측치삭제 -> dropna()에서 특정 칼럼을 삭제하고싶다면 subset
# print()
mdf = mdf.dropna(subset=['f1'])
# f3은 최빈값
# print(mdf['f3'].mode())
mdf['f3'] = mdf['f3'].fillna(mdf['f3'].mode()[0])

# 조건에 맞는 데이터수 출력 -> len은 모든 행의 수를 반환하므로,,,, 조건에 맞는 데이터 프레임을 넘겨야
# sum은 조건에 맞는 것만 반환하니....
# sum(mdf['f3']=='gold')


# len(mdf[mdf['f3'] == 'gold'])
# sum(mdf[mdf['f3'] == 'gold']) -> 이건 틀려,,,,, sum매개변수는 int or str

id            id02id03id05id07id09id10id11id13id14id15id16id...
age                                                      2881.8
city          서울서울서울서울서울서울서울서울서울서울서울서울서울부산부산부산부산부산부산부산부산부산대구...
f1                                                       3612.0
f2                                                           45
f3            goldgoldgoldgoldgoldgoldgoldgoldgoldgoldgoldgo...
f4            ENFJISTJISFJISFJESFJISFPENFPESFJENTJENTPESFPIS...
f5                                                  3264.829386
subscribed    2021-05-122021-03-162021-03-072021-01-112021-0...
views                                                  305811.0
dtype: object

## 문제3
- views 컬럼에 결측치가 있는 데이터(행)을 삭제하고,
- f3 컬럼의 결측치는 0, silver는 1, gold는 2, vip는 3 으로 변환한 후 총 합을 정수형으로 출력하시오

In [ ]:
# your code

mdf = pd.read_csv("members.csv")
# print(mdf.isnull().sum())
mdf = mdf.dropna(subset=['views'])
# print(mdf.isnull().sum())

mdf['f3'] = mdf['f3'].fillna(0)
# print(mdf.isnull().sum())

# replace 사용
# mdf['f3'] = mdf['f3'].replace(np.nan, 0).replace('silver', 1).replace('gold',2).replace('vip', 3)

# dict + map 사용
# dict_list = {
#     np.nan : 0,
#     'silver' : 1,
#     'gold' : 2,
#     'vip' :3 ,
# }

# mdf['f3'] = mdf['f3'].map(dict_list)
# print(mdf['f3'])
# print(int(mdf['f3'].sum()))

#조건
cond1 = sum(mdf['f3'] == 'silver') * 1
cond2 = sum(mdf['f3'] == 'gold') * 2
cond3 = sum(mdf['f3'] == 'vip') * 3

print(cond1 + cond2 + cond3)

133

# 풀이

## 문제1
- f1컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고,
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀 값을 구하시오
- (단, 데이터 70% 지점은 정수형(int) 변환)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

df['f1'] = df['f1'].fillna(df['f1'].median())
# print(df.isnull().sum())

# print(df.shape)
df = df.dropna()
# print(df.shape)

df = df[:int(len(df) * 0.7)]

r1 = df['views'].quantile(.75)
r2 = df['views'].quantile(.25)

print(r1 - r2)

3261.0

## 문제2
- 주어진 데이터에서 결측치가 30%이상 되는 컬럼을 찾고 해당 컬럼에 결측치가 있는 데이터(행)를 삭제 함.
- 그리고 30% 미만, 20% 이상인 결측치가 있는 컬럼은 최빈값으로 값을 대체하고
- 'f3'컬럼의 'gold' 값을 가진 데이터 수를 출력하세요!

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

# print(df.isnull().sum())

# print(len(df) * 0.3)
# f1 삭제
# f3 최빈값

# print(df.shape)
df = df.dropna(subset=['f1'])
# print(df.shape)

# print(df.head())
df['f3'] = df['f3'].fillna(df['f3'].mode()[0])
# print(df.head())

# df.isnull().sum()

print(sum(df['f3'] == 'gold'))

56

## 문제3
- views 컬럼에 결측치가 있는 데이터(행)을 삭제하고,
- f3 컬럼의 결측치는 0, silver는 1, gold는 2, vip는 3 으로 변환한 후 f3 컬럼의 총 합을 정수형으로 출력하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

In [ ]:
#replace
import pandas as pd
df = pd.read_csv("members.csv")
# print(df.shape)
df = df.dropna(subset=['views'])
# print(df.shape)

# print(df.head(7))
import numpy as np
df['f3'] = df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)
# df['f3'] = df['f3'].replace('silver',1)
# df['f3'] = df['f3'].replace('gold',2)
# df['f3'] = df['f3'].replace('vip',3)
# print(df.head(7))

print(df['f3'].sum())

133

In [ ]:
#map
import pandas as pd
df = pd.read_csv("members.csv")
df = df.dropna(subset=['views'])

dict_list = {np.nan:0, 'silver':1, 'gold':2, 'vip':3}
df['f3'] = df['f3'].map(dict_list)

print(df['f3'].sum())

133

In [ ]:
# 조건
import pandas as pd
df = pd.read_csv("members.csv")
df = df.dropna(subset=['views'])

r1 = sum(df['f3'] == 'silver') * 1
r2 = sum(df['f3'] == 'gold') * 2
r3 = sum(df['f3'] == 'vip') * 3
print(r1 + r2 + r3)

133